<div class="bg-white shadow rounded overflow-hidden text-center p-4">

  <div class="h-24 w-24 bg-gray-200 rounded-full mx-auto flex items-center justify-center mb-4">
    <% if author.pfp.attached? %>
      <%= image_tag author.pfp, class: "rounded-full w-full h-full object-fill" %>
    <% else %>
      <i class="fas fa-user text-gray-500 text-3xl"></i>
    <% end %>
  </div>


  <h3 class="text-lg font-semibold text-gray-800"><%= author.display_name %></h3>
  <p class="text-gray-500 mt-2 text-sm"><%= truncate(author.bio, length: 100) %></p>

  <div class="mt-4">
    <a href="<%= author_path(author) %>" class="text-blue-500 hover:underline text-sm flex items-center justify-center">
      <i class="fas fa-user mr-2"></i> Profil ansehen
    </a>
  </div>

</div>