<div id="<%= dom_id publisher %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= publisher.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= publisher.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">URL:</strong>
    <%= publisher.url %>
  </p>

</div>
