<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @borrow %>

    <%= link_to "Ausleihe Bearbeiten", edit_borrow_path(@borrow), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Zurück zu Ausleihen", borrows_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Ausleihe Löschen", @borrow, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
