<div id="<%= dom_id librarian %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Vorname:</strong>
    <%= librarian.firstname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nachname:</strong>
    <%= librarian.lastname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= librarian.email %>
  </p>

</div>
